# Copy this file to secrets.yaml and fill in your credentials
# secrets.yaml is gitignored for security

wifi_ssid: "YourWiFiSSID"
wifi_password: "YourWiFiPassword"

api_encryption_key: "generate_with_esphome_command"
ota_password: "YourOTAPassword"
ap_password: "YourAPPassword"
